<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- System API -->
                <rule name="ApiProxy" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="api/{R:1}" />
                </rule>

                <!-- System Backend -->
                <rule name="ForVueRouterHistoryBackend" stopProcessing="true">
                    <match url="^backend/(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/backend" />
                </rule>

                <!-- Vue-Router History -->
                <rule name="ForVueRouterHistoryMode" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>

        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-XSS-Protection" value="1; mode:block" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="Permissions-Policy" value="geolocation=(self)" />
                <add name="Referrer-Policy" value="origin" />
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
                <add name="Content-Security-Policy" value="
                    default-src 'self' ;
                    script-src 'self' 'nonce-dQw4w9WgXcQ' ;
                    script-src-elem 'self' 'nonce-dQw4w9WgXcQ' ;
                    style-src 'self' 'nonce-dQw4w9WgXcQ' ;
                    style-src-elem 'self' 'nonce-dQw4w9WgXcQ' ; 
                    style-src-attr 'self' 'unsafe-inline' ;
                    frame-src 'self' ;
                    frame-ancestors 'self' ; 
                    img-src 'self' data: ;
                    font-src 'self' ;
                    form-action 'self' ;
                    connect-src 'self' https://www.google-analytics.com/ ;
                    media-src 'self' blob: ;
                    object-src 'none';
                " />
            </customHeaders>
        </httpProtocol>

        <security>
            <requestFiltering removeServerHeader="true" />
        </security>

        <defaultDocument>
            <files>
                <remove value="Default.asp" />
                <remove value="index.htm" />
                <remove value="Default.htm" />
                <remove value="iisstart.htm" />
                <add value="app_offline.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
