<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="C:\temp\Logs\GeoTemplateCore6-nlog.txt"
      throwConfigExceptions="false"
      throwExceptions="false"
      internalLogToConsole="false"
      >
    <extensions>
        <add assembly="NLog.Database"/>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target name="database" xsi:type="Database">
            <connectionString>${gdc:item=GdbConnection}</connectionString>
            <commandText>
INSERT INTO dbo.Nlog (
    Application, Logged, Level, Message,
    Logger, CallSite, Exception
) values (
    @Application, @Logged, @Level, @Message,
    @Logger, @Callsite, @Exception
);
            </commandText>
            <parameter name="@application" layout="${gdc:item=AppName}" />
            <parameter name="@logged" layout="${date}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@logger" layout="${logger}" />
            <parameter name="@callSite" layout="${callsite:filename=true}" />
            <parameter name="@exception" layout="${exception:tostring}" />
        </target>
        <!--內建參數可由下面連結查詢-->
        <!--https://nlog-project.org/config/?tab=layout-renderers&search=aspnet-->
        <target name="footprint" xsi:type="Database">
            <connectionString>${gdc:item=GdbConnection}</connectionString>
            <commandText>
INSERT INTO [UserFootprint] (
    [UserId],[Auth],[LogType],[Url],[HttpVerb],
    [QueryString],[PostBody],[UserAgent],[Ip],[RequestTime],
    [Controller],[Action],[PageName]
) VALUES (
    @UserId,@Auth,@LogType,@Url,@HttpVerb,
    @QueryString,@PostBody,@UserAgent,@Ip,@RequestTime,
    @Controller,@Action,@PageName
);
            </commandText>
            <parameter name="@UserId" layout="${aspnet-user-claim:ClaimTypes.NameIdentifier}" />
            <parameter name="@Auth" layout="${aspnet-user-authtype}：${aspnet-user-identity}" />
            <parameter name="@LogType" layout="${event-properties:item=LogType}" />
            <parameter name="@Url" layout="${aspnet-request-url:IncludeHost=false:IncludeScheme=false}" />
            <parameter name="@HttpVerb" layout="${aspnet-request-method}" />
            <parameter name="@QueryString" layout="${aspnet-request-querystring}" />
            <parameter name="@PostBody" layout="${aspnet-request-posted-body}" />
            <parameter name="@UserAgent" layout="${aspnet-request-useragent}" />
            <parameter name="@Ip" layout="${aspnet-request-ip}" />
            <parameter name="@RequestTime" layout="${date}" />
            <parameter name="@Controller" layout="${event-properties:item=Controller}" />
            <parameter name="@Action" layout="${event-properties:item=Action}" />
            <parameter name="@PageName" layout="${event-properties:item=PageName}" />
        </target>
		<target name="footprintFE" xsi:type="Database">
			<connectionString>${gdc:item=GdbConnection}</connectionString>
			<commandText>
INSERT INTO [UserFootprint] (
    [UserId],[Auth],[LogType],[Url],[HttpVerb],
    [QueryString],[PostBody],[UserAgent],[Ip],[RequestTime],
    [Controller],[Action],[PageName],[Browser],[Os]
) VALUES (
    @UserId,@Auth,@LogType,@Url,@HttpVerb,
    @QueryString,@PostBody,@UserAgent,@Ip,@RequestTime,
    @Controller,@Action,@PageName,@Browser,@Os
);
            </commandText>
			<parameter name="@UserId" layout="${aspnet-user-claim:ClaimTypes.NameIdentifier}" />
			<parameter name="@Auth" layout="${aspnet-user-authtype}：${aspnet-user-identity}" />
			<parameter name="@LogType" layout="${event-properties:item=LogType}" />
			<parameter name="@Url" layout="${event-properties:item=Url}" />
			<parameter name="@HttpVerb" layout="${aspnet-request-method}" />
			<parameter name="@QueryString" layout="${aspnet-request-querystring}" />
			<parameter name="@PostBody" layout="${aspnet-request-posted-body}" />
			<parameter name="@UserAgent" layout="${aspnet-request-useragent}" />
			<parameter name="@Ip" layout="${aspnet-request-ip}" />
			<parameter name="@RequestTime" layout="${date}" />
			<parameter name="@Controller" layout="${event-properties:item=Controller}" />
			<parameter name="@Action" layout="${event-properties:item=Action}" />
            <parameter name="@PageName" layout="${event-properties:item=PageName}" />
            <parameter name="@Browser" layout="${event-properties:item=Browser}" />
            <parameter name="@Os" layout="${event-properties:item=Os}" />
		</target>
    </targets>

    <rules>
        <!--排除Microsoft 的啟動資訊-->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="System.Net.Http.*" maxLevel="Warning" final="true" />
        <logger name="footprint" minlevel="Info" writeTo="footprint" final="true"  />
		<logger name="footprintFE" minlevel="Info" writeTo="footprintFE" final="true"  />
        <logger name="*" minlevel="Trace" writeTo="database" />
    </rules>
</nlog>